{% extends "genius/base.html" %}
{% block content %}
    <div class="container" id="section">

      <form class="form-signin" method="post" {% block url %}action ="{% url 'login' %}"{% endblock%}>
          {% block form %}
        <fieldset class="fieldset-style">
          <legend><h2 class="form-signin-heading">{% block form_title %}Sign In{% endblock %}</h2></legend>

            {% for field in form %}
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div >
                {% if field.name == "password" or field.name == "password1" or field.name == "password2"%}
                        <input class="form-control" type="password" name="{{ field.name }}" id="id_{{ field.name }}" value="" >
                    {%  else %}
                    <input class="form-control" type="text" name="{{ field.name }}" id="id_{{ field.name }}" value="" >
                    {% endif %}
                    <a>{{field.errors}}</a>
                </div>
            {% endfor %}

            {% for error in form.non_field_errors %}
		        <a>{{ error }}</a>
		    {% endfor %}

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">{% block checkbox %}Remember me{% endblock %}
                </label>
            </div>

            <input class="btn red" type="submit" value="{% block button %}Sign in{% endblock %}">
            <hr>

            {% block link %}
                <h5 class="form-signup-reminder"><a href="{% url 'signup' %}" >Don't have an account yet? Sign up</a></h5>
                <h5 class="form-signup-reminder"><a href="{% url 'forget_password'%}" >Forget password?</a></h5>
            {% endblock %}

        </fieldset>
        {% block next %}{% endblock %}{% endblock %}
        {% csrf_token %}
      </form>

    </div> <!-- /container -->

{% endblock %}