{% extends "genius/mainpage.html" %}
{% load static %}
{% block title %}change password{% endblock %}
{% block content %}

     <div class="container" id="section">
          <form method="post" action="{% url 'change_password' %}" class="form-signin">

              {% for field in form %}
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div >
                    <input class="form-control" type="password" name="{{ field.name }}" id="id_{{ field.name }}" value="" >
                    <a>{{field.errors}}</a>
                </div>
                {% endfor %}

              {% for error in form.non_field_errors %}
                  <a>{{ error }}</a>
              {% endfor %}
              <a>{{ error }}</a>

              <input class="btn red" type="submit" value="submit">
              {{success}}
          {% csrf_token %}
          </form>
     </div>


{% endblock %}