{% extends "genius/base_game.html" %}
{% block title %}My Page{% endblock %}
{% load static %}
{% block game %}
    <div class="col-xs-9 col-sm-9 mathGame" style="background-color: #fff;margin-left: 20px;">
    <div class="scoreboard">
        <table style="width: 100%">
            <tr>
                <th  style="color: #ea6b6e;">Date</th>
                <th  style="color: #ea6b6e;">Time</th>
                <th  style="color: #ea6b6e;">Score</th>
            </tr>
            {% for score in history %}
                <tr>
                    <th>{{ score.date }}</th>
                    <th>{{ score.time }}</th>
                    <th>{{ score.score }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}