{% extends "genius/base_sign.html" %}

{% block title %}reset password{% endblock %}

{% block form %}
    <legend><h2 class="form-signin-heading">Reset your password</h2></legend>
    {% for field in form %}
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div >
            <input class="form-control" type="password" name="{{ field.name }}" id="id_{{ field.name }}" value="" >
            <a>{{field.errors}}</a>
        </div>
    {% endfor %}

    {% for error in form.non_field_errors %}
		<a>{{ error }}</a>
    {% endfor %}

    <input class="btn red" type="submit" value="submit">
    {{success}}
{% endblock %}

{% block url %}action ="{% url 'reset_password' user.username %}"{% endblock %}
